.sidenav-img{
    width: -webkit-fill-available;
}
.sidenav-style{
    width: 15%;
    height: 100vh;
    background-color: antiquewhite;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidnav-content{
    display: flex;
    justify-content: space-around;
}